*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.swo
*.swp
*.tdo
*.toc
*~



balt_tidy/
cityshp/
diggle1995.pdf
MCAP_2014_Prokesova_Dvorak_printed_version.pdf
neighborhoods/
pair_correlation_dataset.csv
pair_correlation_dataset.csvt
*.rds
